# Ignore virtual environments
.venv/

# Ignore environment files
.env
server/.env

# Node modules
node_modules/

# Mac system files
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/
coverage/

# IDE/editor
.vscode/
.idea/
server/firebase-key.json